<button class="back" routerLink="/main">Назад на главную</button>
<div class="create-news">
    <h2>Создание новой новости</h2>

    <form (ngSubmit)="addNewNews()">
        <div class="form-group">
            <label for="title">Заголовок:</label>
            <input type="text" id="title" name="title" [(ngModel)]="_title">
        </div>

        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea id="description" [(ngModel)]="_description" name="description"></textarea>
        </div>

        <button type="submit">Создать новость</button>
    </form>
</div>