.single-news {
  display: flex;
  justify-content: space-around;
}

.news-page {
  max-width: 800px;
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #d49494;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.news-page header {
  text-align: center;
  margin-bottom: 20px;
}

.news-page header h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.news-page header p {
  font-size: 16px;
  color: #5a5959;
}

.content {
  text-align: center;
  background-color: #eaedf0d7;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.news-page img {
  max-width: 50%;
  margin-bottom: 20px;
}

.news-page p {
  font-size: 18px;
  color: #444;
  line-height: 1.5;
}

.comments h2 {
  margin-bottom: 10px;
}

.comments textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.comments button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comments button:hover {
  background-color: #45a049;
}

section {
  height: 100vh;
  width: 300px;
  background-color: #dba4a433;
}

section h2 {
  text-align: center;
  margin-top: 10px;
}

section ul {
  list-style-type: square;
  padding: 25px;
}

section ul li {
  border: 1px solid rgba(167, 26, 26, 0.555);
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  word-wrap: break-word;

}

.back {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  transition: background-color 0.5s;
}

.back:hover {
  background-color: #080808e0;
}