<div class="main-page">
    <header>
        <div class="logo">
            <img src="assets/Docusketch.png" width="250">
        </div>
        <nav>
            <ul>
                <li><a routerLink="/main">ГЛАВНАЯ</a></li>
                <li><a routerLink="/main/subscribe">КУПИТЬ ПОДПИСКУ</a></li>
                <li><a routerLink="create-news">СОЗДАТЬ НОВОСТЬ</a></li>
            </ul>
        </nav>
        <div class="user-info">{{"Текущий пользователь: " + (getUserInfo() ?? "неизвестно") }}</div>
        <button class="delete-user-news" (click)="cleanNewsStorage()">Удалить все пользовательские новости(after page
            refresh)</button>
        <button (click)="logout()" class="logout-btn">Logout</button>
    </header>

    <main>
        <h1>Новости</h1>

        <div class="filter">
            <select class="category-filter" [(ngModel)]="selectedCategory" (change)="filterNews()">
                <option value="all">Все категории</option>
                <option value="Angular">Angular</option>
                <option value="React">React</option>
                <option value="Vue">Vue</option>
            </select>

            <input type="text" class="search-input" placeholder="Поиск по названию" [(ngModel)]="searchNews">
        </div>

        <div class="news">
            <ul class=news-list>
                <li *ngFor="let item of filterNews() | search: searchNews" class="news-card">
                    <img [src]="item.img" alt="img" class="news-image">
                    <div class="news-content">
                        <h3 class="news-title">{{item.title}}</h3>
                        <p class="news-description">{{item.description}}</p>
                        <a [routerLink]="['/main/news', item.id]" class="read-more">Читать подробнее</a>
                    </div>
                </li>

            </ul>
        </div>
    </main>
    <footer>

    </footer>

</div>