* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #0c0c0c;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}